<link rel="stylesheet" href="css/style.css">

<div class="main">
    <p class="sign" align="center">Register</p>
    <form class="form1" action="/preregister" method="post">
        <input class="un " type="text" align="center" placeholder="Email" name="email">
        <input class="pass" type="password" align="center" placeholder="Password" name="password">
        <input class="pass" type="password" align="center" placeholder="Confirm Password" name="password">
        <button class="submit" type="submit">Submit</button>
    </form>
</div>
